#body {
  padding: 1px;
  background: #eee;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: captalize;
  letter-spacing: 2px;
}

#body, #body * {
  -webkit-transition: all .25s;
  transition: all .25s;
}

#body:before, #body:after, #body *:before, #body *:after {
  -webkit-transition: all .25s;
  transition: all .25s;
}

#body .out-wrap {
  position: relative;
  padding: 0 50px 50px;
  -webkit-box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.25);
  width: 50%;
  margin: 50px auto;
  background: #b71c1c;
}

#rad {
  position: relative;
  position: relative;
  width: 380px;
  height: 380px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
}

#rad .list {
  position: relative;
  width: 300px;
  height: 300px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  margin: auto;
  position: relative;
  z-index: 2;
  -webkit-transform: scale(0);
  transform: scale(0);
}

#rad .list > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px;
}

#rad .list > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translateY(-150px) rotate(0deg);
  transform: rotate(0deg) translateY(-150px) rotate(0deg);
  /* &:before{
                    @include transform(rotate($rot * 1deg));
               } */
}

#rad .list > *:nth-of-type(2) {
  -webkit-transform: rotate(36deg) translateY(-150px) rotate(-36deg);
  transform: rotate(36deg) translateY(-150px) rotate(-36deg);
  /* &:before{
                    @include transform(rotate($rot * 1deg));
               } */
}

#rad .list > *:nth-of-type(3) {
  -webkit-transform: rotate(72deg) translateY(-150px) rotate(-72deg);
  transform: rotate(72deg) translateY(-150px) rotate(-72deg);
  /* &:before{
                    @include transform(rotate($rot * 1deg));
               } */
}

#rad .list > *:nth-of-type(4) {
  -webkit-transform: rotate(108deg) translateY(-150px) rotate(-108deg);
  transform: rotate(108deg) translateY(-150px) rotate(-108deg);
  /* &:before{
                    @include transform(rotate($rot * 1deg));
               } */
}

#rad .list > *:nth-of-type(5) {
  -webkit-transform: rotate(144deg) translateY(-150px) rotate(-144deg);
  transform: rotate(144deg) translateY(-150px) rotate(-144deg);
  /* &:before{
                    @include transform(rotate($rot * 1deg));
               } */
}

#rad .list > *:nth-of-type(6) {
  -webkit-transform: rotate(180deg) translateY(-150px) rotate(-180deg);
  transform: rotate(180deg) translateY(-150px) rotate(-180deg);
  /* &:before{
                    @include transform(rotate($rot * 1deg));
               } */
}

#rad .list > *:nth-of-type(7) {
  -webkit-transform: rotate(216deg) translateY(-150px) rotate(-216deg);
  transform: rotate(216deg) translateY(-150px) rotate(-216deg);
  /* &:before{
                    @include transform(rotate($rot * 1deg));
               } */
}

#rad .list > *:nth-of-type(8) {
  -webkit-transform: rotate(252deg) translateY(-150px) rotate(-252deg);
  transform: rotate(252deg) translateY(-150px) rotate(-252deg);
  /* &:before{
                    @include transform(rotate($rot * 1deg));
               } */
}

#rad .list > *:nth-of-type(9) {
  -webkit-transform: rotate(288deg) translateY(-150px) rotate(-288deg);
  transform: rotate(288deg) translateY(-150px) rotate(-288deg);
  /* &:before{
                    @include transform(rotate($rot * 1deg));
               } */
}

#rad .list > *:nth-of-type(10) {
  -webkit-transform: rotate(324deg) translateY(-150px) rotate(-324deg);
  transform: rotate(324deg) translateY(-150px) rotate(-324deg);
  /* &:before{
                    @include transform(rotate($rot * 1deg));
               } */
}

#rad .list > li {
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

#rad .list > li a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

#rad .list > li a i:before {
  color: #999;
  font-size: 20px;
  -webkit-transition: all .55s;
  transition: all .55s;
}

#rad .list > li.active a i:before {
  color: #fff;
}

#rad .pointer {
  position: absolute;
  left: 80px;
  right: 80px;
  top: 80px;
  bottom: 80px;
  margin: auto;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#rad .pointer:before {
  content: '';
  background: #d32f2f;
  left: 0;
  right: 0;
  top: -80px;
  width: 90px;
  height: 90px;
  margin: auto;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0, 70% 100%, 30% 100%);
  -webkit-transform: scale(0);
  transform: scale(0);
}

#rad .pointer:after {
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: 99;
  position: absolute;
  background: #eee;
  -webkit-transform: scale(0);
  transform: scale(0);
}

#rad button {
  height: 60px;
  width: 60px;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  border-radius: 50%;
}

#rad button:focus {
  outline: none;
}

#rad button > span {
  height: 2px;
  background: #d32f2f;
  width: 50%;
  position: absolute;
  transition: all 0.25s 0.25s ease;
  -moz-transition: all 0.25s 0.25s ease;
  -webkit-transition: all 0.25s 0.25s ease;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#rad button > span:first-child {
  bottom: auto;
  left: auto;
  top: 30%;
  right: 25%;
}

#rad button > span:last-child {
  top: auto;
  right: auto;
  bottom: 30%;
  left: 25%;
}

#rad button > span:nth-child(2), #rad button > span:nth-child(3) {
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}

#rad.open {
  background: #fff;
}

#rad.open .list {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#rad.open .pointer {
  -webkit-box-shadow: 0 0 0 40px #fff;
          box-shadow: 0 0 0 40px #fff;
}

#rad.open .pointer:after, #rad.open .pointer:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#rad.open button span:first-child, #rad.open button span:last-child {
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  width: 0;
}

#rad.open button span:nth-child(2) {
  transition: all 0.25s 0.15s ease;
  -moz-transition: all 0.25s 0.15s ease;
  -webkit-transition: all 0.25s 0.15s ease;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#rad.open button span:nth-child(3) {
  transition: all 0.25s 0.15s ease;
  -moz-transition: all 0.25s 0.15s ease;
  -webkit-transition: all 0.25s 0.15s ease;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/*# sourceMappingURL=style.css.map */